.root {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.logo {
    font-family: var(--logo-font);
    letter-spacing: 0.04em;
}

@media (max-width: 800px) {
    .root svg {
        width: 90px;
        height: 16.67px;
    }
}