.root {
    justify-content: center;
    cursor: pointer;
}

.logo {
    font-family: var(--logo-font);
    font-size: 18px;
    line-height: 1.2em;
    letter-spacing: 0.04em;
    padding-right: 20px;
}

@media (max-width: 460px) {
    .logo {
        padding: 5px;
    }
}