.root {
    padding-right: 10%;
    padding-left: 10%;
}

p {
    margin: 20px;
}

hr {
    border: 4px solid var(--brand-poppy);
    margin-top: 5%;
    margin-bottom: 5%;
}

.blogContainer {
    margin-top: 80px;
    margin-bottom: 80px;
    padding-left: 10%;
    padding-right: 10%;
}

.centerButton {
    display: block;
    margin: 0 auto;
    max-width: 175px;
}

.excerpt {
    font-weight: normal;
    font-size: 32px;
    line-height: 42px;
    font-family: var(--standard-header);
}

.blogParagraph {
    font-weight: normal;
    font-size: 18px;
    line-height: 1.2em;
}

.imagesContainer {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
    margin: 48px 0px;
}

.imageContainer {
    width: 100%;
}

.imageContainer img {
    width: 100%;
    height: auto;
}

.blogSubHeader {
    font-size: 32px;
    line-height: 42px;
    font-weight: normal;
    margin-bottom: 32px;
}

.content {
    width: 90%;
    margin: 0 auto;
}

.content p {
    margin-top: 10px;
}

.content h3 {
    margin: 20px;
    text-align: center;
}

@media (max-width: 800px) {
    .imagesContainer {
        grid-template-columns: 1fr;
    }

    .excerpt {
        font-size: 22px;
        line-height: 28px;
    }

    .content {
        width: 100%;
    }

    .blogParagraph {
        font-size: 14px;
        line-height: 24px;
    }

    .imageContainer {
        height: 40vh;
    }

}