:global(.fc .fc-toolbar-title) {
    color: var(--brand-poppy);
}

.fc-h-event {
    background-color: var(--brand-poppy);
}

.sharedContainer {
    display: block;
    margin: 0 auto;
    max-width: 400px;
    width: 100%;
}

.calendarWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
    align-items: center;
}

.hidden {
    display: none;
}