/* .fc .fc-toolbar.fc-header-toolbar {
    padding: 17px 0;
}

.calendarWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 5%;
}
.calendarContainer {
    max-width: 900px;
    height: auto;
    transform-origin: center;
}

.fc .fc-daygrid-day-frame {
    min-height: 80px;
} */

.fc-h-event {
    background-color: orange !important;
}