.generalContainer {
    margin-top: 5%;
    padding-left: 15%;
    padding-right: 15%;
}

hr {
    border: 4px solid var(--brand-poppy);
    margin-top: 5%;
    margin-bottom: 5%;
}

.divColumns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
}

.primary {
    display: block;
    text-align: center;
}

.responsiveImg {
    width: 100%;
    height: auto;
    padding: 5%;
}

.sharedContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.collectionContainer {
    margin-top: 8px;
}

.calendarContainer {
    flex: 1 1 50%;
}

.promotionContainer {
    position: relative;
}

.promotionContainer h2 {
    font-size: 52px;
    line-height: 62px;
}

.messageContainer {
    text-align: center;
    padding: 60px 0px;
    margin: 0px 30px;
}

.messageContainer p {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}

.gold {
    color: var(--standard-gold);
}

.contentTitle{
    text-align: center;
    font-weight: normal;
    font-size: 42px;
    line-height: 50px;
    margin-bottom: 16px;
}

.highlightContainer {
    margin: 88px 0px;
}

.linkContainers {
    display: flex;
    position: absolute;
    transform: translate(-50%, 0%);
    bottom: 64px;
    left: 50%;
    gap: 72px;
}

.ctaCustomButton {
    margin-top: 50px;
}

.linkContainers a {
    color: var(--standard-white);
    border-bottom: 1px solid var(--standard-white);
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

.linkContainers a:hover {
    color: var(--standard-gold);
    border-bottom: 1px solid var(--standard-gold);
}

.sustainableContainer {
    margin: 96px 40px 0px 40px;
}

.socialContainer {
    margin-top: 64px;
}

.socialContentGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.socialContentGrid img {
    width: 100%;
    object-fit: cover;
}

/* TABLETS */
@media (max-width: 1024px) {
    .sustainableContainer {
        margin: 96px 0px 0px 0px;
    }

    .socialContentGrid {
        grid-template-columns: repeat(2, 1fr);
    }

    .highlightContainer {
        margin: 88px 0px 40px 0px;
    }
}

/* MOBILE */
@media (max-width: 460px) {
    .divColumns {
        grid-template-columns: 1fr;
        width: 100%;
        padding: 5% 0;
    }

    .responsiveImg {
        padding: 5% 0;
    }
}